<ol class='items-list'>
  <li class='item flexrow items-header'>
    <div class='item-name'>{{localize 'Name'}}</div>
    <div class='item-controls'>
      <a
        class='item-control item-create'
        title='Create item'
        data-type='feature'
      >
        <i class='fas fa-plus'></i>
        {{localize 'DOCUMENT.New' type='move'}}
      </a>
    </div>
  </li>
  {{#each features as |item id|}}
    <li class='item flexrow' data-item-id='{{item._id}}'>
      <div class='item-description'>
        <h4><strong>{{item.name}}</strong>: {{sanitise item.system.description}}</h4>
      </div>
      <div class='item-controls'>
        <a
          class='item-control item-edit'
          title='{{localize "DOCUMENT.Edit" type='move'}}'
        >
          <i class='fas fa-edit'></i>
        </a>
        <a
          class='item-control item-delete'
          title='{{localize "DOCUMENT.Delete" type='move'}}'
        >
          <i class='fas fa-trash'></i>
        </a>
      </div>
    </li>
  {{/each}}
</ol>
