<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>

      <div class="resources grid grid-3col">

        <div class="resource flex-group-center">
          <label for="system.health.value" class="resource-label">Harm</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.power.value" class="resource-label">Resource Points</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.power.value" value="{{system.power.value}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.attributes.flaw.value" class="resource-label">Flaw</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.attributes.flaw.value" value="{{actor.flaw}}" />
          </div>
        </div>

      </div>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="biography">Biography</a>
  </nav>

  <section class="sheet-body">
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
        <aside class="sidebar">

          <div class="abilities flexcol">
            {{#each system.abilities as |ability key|}}
            <div class="ability flexrow flex-group-center">
              <label for="system.abilities.{{key}}.value" class="resource-label rollable align-left" data-roll="2d6+@abilities.{{key}}.value" data-label="{{localize (lookup @root.config.abilities key)}}">{{localize (lookup @root.config.abilities key)}}</label>
              <input type="text" name="system.abilities.{{key}}.value" value="{{numberFormat ability.value decimals=0 sign=true}}" data-dtype="Number"/>
            </div>
            {{/each}}
          </div>
        </aside>

        <section class="main grid-span-2">
          {{> "systems/godwrot/templates/actor/parts/actor-features.hbs"}}
        </section>

      </section>
    </div>

    <div class="tab biography editor" data-group="primary" data-tab="biography">
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>

  </section>
</form>
